.collapse {
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    background-color: $yellow;
    border-radius: 10px;
    box-shadow: 4px 4px 4px $yellow;
    @include smartphone {
        width: 95%;
        margin: auto;
        margin-bottom: 30px;
    }
    &__header {
        background-color: $pink;
        color: $white;
        display: flex;
        justify-content: space-between;
        border-radius: 3px;
        width: 1004px;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px ;
        margin-bottom: 20px;
        @include smartphone {
            width: 100%;
            padding-right: 2px;
            padding-left: 2px;
        }
        &__title {
            @include mainFont;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 10px;
            @include smartphone {
                width: 80%;
                margin: auto;
                margin-left: 10px;
                padding-left: 0;
            }
        }
        &__icon {
            width: 30px;
            height: 40px;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            margin-right: 10px;
            font-size: 18px;
        }
    }
    &__main {
        height: 370px;
        width: 100%;
        margin: auto;
        @include smartphone {
            height: auto;
            margin-left: 10px;
            margin-right: 10px;
            width: auto;
        }
        &__image {
            width: 60%;
            
            overflow: hidden;
            @include smartphone {
                border-radius: 10px;
                margin-bottom: 10px;

            }
            &__example {
                @include textFont;
                color: $purple;
                padding: 5px 10px 5px 10px;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                height: 100%;
                @include smartphone {
                    width: 100%;
                }
            }
            & img {
                object-fit: contain;
                width: 450px;
                overflow: hidden;
                border-radius: 10px;
                margin-left: 20px;
                @include smartphone {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        &__text {
            @include textFont;
            color: $purple;
            background-color: $yellow;
            opacity: 90%;
            text-align: justify;
            overflow: scroll;
            font-weight: 700;
            width: 98%;
            margin: auto;
            padding-left: 0;
        }
    }
}


.example {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    @include smartphone {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        color: $white;
        background-color: $pink;
        @include mainFont;
        border-radius: 5px;
        width: 120px;
        text-align: center;
        box-shadow: 2px 2px 2px $yellow;
        cursor: pointer;
        margin-top: 20px;
        padding: 2px 5px 2px 5px;
        &:hover {
            background-color: $purple;
            box-shadow: 2px 2px 4px $pink;
            color: $yellow;
        }
    }
    &__text {
        text-align: justify;
        font-style: italic;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        @include smartphone {
            width: 100%;
        }
    }
}