@mixin mainFont() {
    font-family: 'Koulen', sans-serif;
}

@mixin titleFont() {
    font-family: 'Lexend Zetta', sans-serif;
}

@mixin textFont() {
    font-family: "Miriam Libre", sans-serif;
}

@mixin smartphone() {
    @media all and (max-width: 768px) {
        @content
    }
}