.mainContainer {
    background-color: $purple;
    opacity: 90%;
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.pageContainer {
    height: 90%;
    background-color: $pink;
    width: 100%;
    margin: auto;
    opacity: 90%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $yellow;
    box-shadow: 2px 2px 2px $yellow;
    @include smartphone {
        flex-direction: column;
        height: auto;
    }
}

.projectList {
    width: 45%;
    padding-left: 2%;
    padding-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    @include smartphone {
        width: 100%;
        padding: 0;
        position: relative;
        height: 480px;
    }
    &__sort {

    }
    &__results {
        padding: 20px 0px 15px 0px;
        border-radius: 8px;
        margin-top: 10px;
        max-height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        @include smartphone {
            position: absolute;
            left: 10px;
            top: 155px;
            width: 35%;
            overflow: scroll;
        }
    }
}

.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    @include smartphone {
        display: flex;
        width: 150px;
        height: 40px;
        overflow: scroll;
        position: absolute;
        left: 10px;
        top: 115px;
        z-index: 1;
    }
}

.tag {
    display: flex;
    justify-content: space-between;
    background-color: $purple;
    color: $yellow;
    border-radius: 4px;
    padding: 2px 2px 2px 5px;
    margin-bottom: 10px;
    border: 1px solid $purple;
    margin-right: 10px;
    @include smartphone {
        width: 50px;
    }
    &__text {
        padding-right: 5px;
        @include mainFont;
        @include smartphone {
            display: none;
        }
    }
    &__icon {
        
        color: $yellow;
        border-radius: 3px;
        padding-top: 6px;
        width: 20px;
        margin-right: 5px;
        text-align: center;
    }
    &__delete {
        margin-left: 10px;
        background-color: $pink;
        padding: 6px 3px 0px 3px;
        border-radius: 2px;
        border: 1px solid $purple;
        @include smartphone {
            margin-left: 0;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.tagMain {
    display: flex;
}
.dropdowns {
    display: flex;
    justify-content: flex-start;
}

.tuto {
    width: 100%;
    margin: auto;
    @include textFont;
    color: $white;
    text-align: justify;
    margin-bottom: 15px;
    margin-top: 10px;
    @include smartphone {
        width: 38%;   
        margin-left: 10px;    
        height: 130px; 
        overflow: scroll;
        font-size: 12px;
    }
}

.tutoAndProject {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results {
    color: $white;
    @include mainFont;
    @include smartphone{
        position: absolute;
        font-size: 14px;
        top: 100px;
        left: 10px;
    }
}

.keyword{
    background-color: $yellow;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &:hover {
        color: $yellow;
        background-color: $purple;
        cursor: pointer;
    }
}

#toolDrop {
    @include smartphone {
        position: absolute;
        right: 20px;
        margin-right: 0px;
        top: 0px;
    }
}

#techDrop {
    @include smartphone {
        position: absolute;
        right: 20px;
        margin-right: 0px;
        top: 40px;
    }
}

.resultTags {
 @include smartphone {
    overflow: scroll;
 }   
}