.skillset {
    background-color: $purple;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    padding-top: 20px;
    @include textFont;
    &__intro , &__outro{
        width: 60%;
        opacity: 90%;
        margin: auto;
        text-align: center;
        @include smartphone {
            width: 98%;
            margin: auto;
        }
    }
    &__board {
        width: 60%;
        height: 450px;
        opacity: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        position: relative;
        & img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            filter: blur(3px);
        }
        @include smartphone {
            height: 250px;
            overflow: hidden;
            width: 100%;

        }
        &__main {
            border: 2px solid $yellow;
            border-radius: 10px;
        }
    }
}

.boardButton {
    padding: 5px 10px 5px 10px;
    background-color: $yellow;
    opacity: 90%;
    @include mainFont;
    color: $pink;
    border-radius: 5px;
    position: absolute;
    box-shadow: 1px 1px 2px $purple;
    border: 1px solid $purple;
    top: 42%;
    left: 36%;
    width: 30%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    @include smartphone {
        width: 250px;
        top: 110px;
        left: 21%;
    }
    &:hover {
        border: 1px solid $pink;
        box-shadow: 3px 3px 5px $pink;
        color: $yellow;
        background-color: $purple;
    }
}

.fullscreen {
    @include smartphone {
        height: 430px;
        margin-top: 180px;
        transform: rotate(90deg);
    }
        
    opacity: 99%;
    
    position: relative;
    &__exit {
            position: absolute;
        top: 100px;
        right: 20%;
        
        @include desktop {
            top: 200px;
            right: 50px;
        }
        z-index: 1;
        color: $yellow;
        background-color: $pink;
        width: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        height: 20px;
        padding-top: 5px;
        border: 1px solid $purple;
        cursor: pointer;
        
    }
    &__quit {
        transform: rotate(90deg);  
        position: absolute;  
        top: 390px;
        right: 250px;
        width: 200px;
        @include mainFont;
        background-color: $pink;
        border-radius: 5px;
        box-shadow: 2px 2px 2px $yellow;
        cursor: pointer;
        @include desktop {
            display: none;
        }
        &:hover {
            background-color: $purple;
            box-shadow: 2px 2px 4px $pink;

        }
    }
}

.fullscreen img {
    height: 100%;
    object-fit: contain; /* Pour conserver les proportions de l'image */
}

.hardskills {
    display: flex;
    flex-direction: column;
    align-items: center;
}