.skillset {
    background-color: $purple;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    padding-top: 20px;
    @include textFont;
    &__intro , &__outro{
        width: 60%;
        margin: auto;
        text-align: center;
        @include smartphone {
            width: 98%;
            margin: auto;
        }
    }
    &__board {
        width: 100%;
        background-color: $pink;
        opacity: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        @include smartphone {
            height: 250px;
            overflow: hidden;
        }
        &__main {
            border: 2px solid $yellow;
            border-radius: 10px;
            box-shadow: 2px 4px 2px $yellow;
        }
    }
}

