body {
    background-image: url('../../assets/img/bg-tree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0
}

h2 {
    @include titleFont;
    text-align: center;
    color: $white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    @include smartphone {
        font-size: 18px;
    }
}