body {
    background-image: url('../../assets/img/bg-tree.jpg');
    ;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    margin: 0;
    
}

h2 {
    @include titleFont;
    text-align: center;
    color: $white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    @include smartphone {
        font-size: 18px;
    }
}

a {text-decoration: none;}

.return {
    display: none;
    @include smartphone {
        display: block;
        width: 10%;
        font-size: 34px;
        color: $yellow;
        margin-right: 15%;
        margin-left: 5%;
        text-shadow: 1px 1px 1px $pink;
        &:hover {
            color: $pink;
            text-shadow: 2px 2px 2px $yellow;
            cursor: pointer;
        }
    }
}

.retBut {
    
    @include smartphone {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: baseline;
        margin-bottom: -5px;
    }
}   
    

#sendBtn {
    margin-left: -5%;
}